[Unit]
Description=Run onboarding service
After=network.service
After=network-online.target
ConditionPathExists=!%h/.config/onboarding/disable

[Service]
ExecStart=/usr/bin/onboarding


[Install]
WantedBy=default.target
